.viewer {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.main-image-div {
  top: 0px;
  width: 100%;
  height: 100%;
  left: initial;
  overflow: hidden;
  position: absolute;
}

.image-div {
  width: 100%;
  height: 100%;
  position: relative;
}

.arrows {
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
}

.arrows-icon {
  /* padding: 20%; */
  width: 100%;
  height: 200%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10%;
}

.message {
  color: lightgrey;
  padding: 5%;
}

.zoom-controller {
  position: absolute;
  /* background-color: teal; */
  z-index: 2;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.zoom-controller-bgd {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  z-index: 1;
}

.view-rectangle {
  position: absolute;
  /* border: solid;
  border-width: 1px; */
  /* border-color: rgba(255, 255, 255, 0.3); */
  /* border-color: rgb(119, 137, 161); */
  z-index: 3;
  /* border: dashed; */
  /* background-color: red; */
  /* box-shadow: inset 0px 0px 0px 10px red; */
  /* outline: 1px solid red; */
  border: 1px solid rgba(119, 137, 161, 0.5);
  box-shadow: inset 0px 0px 0px 10px red;
  box-sizing: border-box; /* Include padding and border in element's width and height */
  cursor: grab;
}

.layout-main {
  display: flex;
  /* flex-direction: row; */

  /* width: 100%;
  height: 100%; */
}

.photo-slides {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.slides-main {
  display: flex;
}

/***********************/
/******* Slider ********/
/***********************/
.layout-slider {
  /* background-color: darkslategray; */
}

.slider-main {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.slider-content {
  overflow: hidden;
  position: relative;
}

.slider-arrow {
  display: flex;
  justify-content: center;
}

.slider-icon {
  padding: 20%;
}

.slide-image {
  position: absolute;
  background-color: teal;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slides-strip {
  position: relative;
  cursor: grab;
}

.single-slide {
  position: relative;
  /* background-color: teal;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-darken {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  cursor: initial;
}

/***********************/
/******** Menu ********/
/***********************/

.menu-main {
  /* width: 150px; */
  position: absolute;
  padding: 1%;
  z-index: 2;
  box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.5);
}

.menu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* height: 20px; */
  padding: 1%;
}

.menu-icon {
  width: 10%;
}

.menu-text {
  /* color: white; */
  width: 80%;
  /* font-size: 2vw; */
}

.menu-item p {
  /* padding: 3px; */
  margin: 0;
}

.menu-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 3%;
  margin-left: 0;
  width: 70%;
  /* height: 30%; */
}

.menu-button {
  background-color: rgb(80, 92, 99);
  color: lightgray;
  padding: 2% 3%;
  margin: 3%;
  border-radius: 10%;
  /* font-size: 30%; */
}

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
      supported by Chrome and Opera */
}

.image-div img {
  position: relative;
}

.single-slide img {
  position: absolute;
}

body {
  touch-action: none;
}
