.viewer {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.main-image-div {
  top: 0px;
  width: 100%;
  height: 100%;
  left: initial;
  overflow: hidden;
  position: absolute;
}

.image-div {
  width: 100%;
  height: 100%;
  position: relative;
}

.arrows {
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
}

.arrows-icon {
  /* padding: 20%; */
  width: 100%;
  height: 200%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10%;
}

.message {
  color: lightgrey;
  padding: 5%;
}

img {
  position: relative;
}
